@import '../../_theme';

.itemsContainer{
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background;
    padding-top: 50px;
    .itemRow{
        width: 100%;
        box-sizing: border-box;
        display: grid;
        padding: 0 20px;
        grid-template-columns: 40% 1fr 1fr 1fr;
        border-bottom: 2px solid $auxiliar-color;
    }
    .itemTitle{
        grid-column: 1/2;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .itemQuantity{
        grid-column: 2/3;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    
    .finalPrice{
        grid-column: 3/4;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    
    .itemDelete{
        grid-column: 4/5;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    
    .itemsRowContainer{
        width: 70%;    
        .priceCheckout{
            display: flex;
            width: 100%;
            gap: 40px;
            align-items: center;
            margin: 10px;
            justify-content: flex-end;
            button{
                margin: 0;
                width: 20%;
                padding: 0;
                a{
                    color: $background
                }
            }
        }
    }
}



.modalContainer{
    position: fixed;
    top: 85px;
    right: 55px;
    border: 2px solid $main-color;
    background-color: $background;
    max-width: 450px;
    padding: 15px;
    .modalRow{
        display: grid;
        grid-template-columns: 80% 20%;
        max-height: 40px;
        padding: 10px;
        border-bottom: 1px solid $main-color;
        .modalDetail{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0;
        }
    }
    .modalLastRow{
        display: grid;
        grid-template-columns: 80% 20%;
        max-height: 40px;
        padding: 10px;
        .modalFinalPrice{
            grid-column: 2/3;
            font-weight: bold;
            margin: 0;
        }
    }
}

.quantityContainer{
    position: relative;
    top: 15px;
    right: 10px;
    background-color: $main-color;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    .quantity{
        color: $background;
        font-size: 14px;
    }
}