@import "../../_theme";

.input{
    height: 6vh;
    margin: 10px;
    border: 2px solid $main-color;
    padding-left: 10px;
    border-radius: 20px;
    background-color: transparent;
}

.input::placeholder{
    color: $main-color;
    opacity: 0.7;
}