.input{
    height: 3vh;
    margin: 10px;
    background-color: transparent;
    border-style: solid;
    padding-left: 10px;
    box-shadow: 1px 1px 1px black;
}

.input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}