@import "../../theme";

.mainContainer{
    height: 100%;
    width: 100%;
    padding-block: 50px;
    .title{
        margin: 0;
        padding-inline-start: 40px;
        margin-top: 0px;
    }
    
    .buysContainer,
    .addressesContainer{
        display: flex;
        width: 50%;
        padding-inline: 75px;
        padding-block: 10px 50px;
    }

    .buysContainer{
        gap: 50px;
        .buyContainer{
            padding-block: 10px 0;
            padding-inline: 20px;
            display: block;
            border: 2px solid $auxiliar-color;
            min-width: 300px;
            height: fit-content;
            p{
                max-height: 30px;
            }
            .itemsContainer{
                padding-block: 20px;
                display: block;
                .imgContainer{
                    width: 80%;
                    min-height: 200px;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        object-fit: cover;
                        object-position: center;
                        max-width: 50%;
                        max-height: inherit;
                    }
                }
            }
        }
    }

    .addressesContainer{
        flex-direction: column;
    }

    .showForm{
        width: 40%;
    }

    .delete{
        background-color: #CC0000;
        border: 2px solid #CC0000;
        margin-left: 75px;
        width: 30%;
        box-sizing: border-box;
    }
}
