@import "../../theme";

@mixin center-in-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.itemListContainer{
    width: 100%;
    padding-top: 100;
    min-height: 83vh;
    display: flex;
    justify-content: center;
    background-color: $background;
}

.itemList{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
}

.itemContainer{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-start;
    margin-bottom: 30px;
    padding: 15px;
}

.title{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.category{
    @include center-in-grid();
    color: $category-color;
}

.imgContainer{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.img{
    object-fit: cover;
    object-position: center;
    max-width: 80%;
    max-height: inherit;
}

.detailContainer{
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr 0.5fr;
    align-items: center;
    width: 100%;
    height: 50%;
    max-height: 300px;
}

.link{
    @include center-in-grid();
    text-decoration: none;
}

.price{
    @include center-in-grid();
    font-weight: bold;
    color: $detail-color;
    font-size: large;
}

.addButton{
    align-self: center;
    justify-self: center;
    background-color: $category-color !important;
    border: 2px solid $category-color !important;
}

.loaderContainer{
    display: flex;
    width: 100%;
    height: 83vh;
    align-items: center;
    justify-content: center;
}