header {
    display: flex;
    flex-direction: column;
    height: 25vh;
}

.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18;
    margin-bottom: 30px;
    border-bottom: 3px solid rgba(218, 0, 55, 1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

header a {
    font-size: 1.15rem;
    text-decoration: none;
    color: white;
}

